@media only screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: var(--font2);

    }
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 480px;
        margin: 0 auto;
    }

    header {
        background-color: #787450;
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 10px;
        color: white;
        padding: 10px;
      
    }
    
    header nav {
        display: none;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size:36px;
    }

    p {
    line-height: 30px;
    margin-top: 10px;
    padding: 10px;
    }   

    form {
        display: flex;
        flex-direction: column;
        width: 28%;
    }

    button {
        margin-top: 10px;
        background-color: #3F413E;
        border: none;    
    }

    #entrar_btn {
        display: flex;
        background-color: #3F413E;
        border: 2px solid #f7345b;
        margin-top: 20px;
        padding: 10px;
        padding-left: 50px;
        border-radius: 10px;
        width: 15%;
    }


    img {
        margin-top: 10px;
        align-items: center;
        width: 360px;
        height: 170px;
        border-radius: 5%;
    }
}