@media only screen and (max-width: 480px) {

    main {
        grid-template-columns: 1fr;
        margin-top: 8rem;
        gap: 2rem;
    }

    .hero_content {
        text-align: center;
    }

    .menu {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
    }
}    